
*~
.#*
**\#*\#
url
elpa
emojis
places
server
.cache
eshell
recentf
backups
history
transient
bookmarks
auto-save-list
.lsp-session-v1
projectile.cache
.org-id-locations
.last-package-update-day
projectile-bookmarks.eld
